__pycache__/
.ruff_cache/
.DS_Store
.vscode/

.env
JOURNAL.md

venv/
artifacts/
data/

*.duckdb
logs/
.logs_queue/

dbt/target/
dbt/logs/
dbt/.user.yml

check_data.py

.tmp_dagster_home_*
.dagster_home/